  @import url('https://fonts.googleapis.com/css2?family=Ubuntu:ital,wght@0,300;0,400;0,500;0,700;1,300;1,400;1,500;1,700&display=swap');

  :root{
    font-family: "Ubuntu", sans-serif;
  }

.child-box {
    /*border-color: black;
    border-style: solid;
    border-width: 1px;*/
    border: black solid 1px; /*shorthand*/
    width: 100px;
    height: 100px;
    text-align: center;
    border-radius: 15px;
}
.parent-box div:nth-of-type(1){
    background-color:blueviolet;
}
    
.parent-box div:nth-of-type(2){
    background-color:#4f4fb3;
}

.parent-box div:nth-of-type(3){
    background-color:aqua;
}
.parent-box { 
    display: flex;
    background-color:darksalmon;
    padding: 40px 20px 20px 20px;/*shorthand para padding-top, paggind-right,
    pagging bottom, padding -left*/
}

.parent-box > p {
position: absolute;
margin-top: -30px;
left: 25px;
}
#jc-center .parent-box{
    justify-content: center;

}
#jc-space-around .parent-box{
    justify-content:space-around
}
#jc-space-between .parent-box{
    justify-content:space-between
}
#jc-space-evenly .parent-box{
    justify-content:space-evenly
}
#jc-flex-start .parent-box{
    justify-content:flex-start
}
#jc-flex-end .parent-box{
    justify-content:flex-end;
}
#jc-initial .parent-box{
    justify-content: initial;
}
#jc-inherit .parent-box{
    justify-content: inherit;
}
#fd-row .parent-box{
    flex-direction:row
}
